/****************************************TAG****************************************/

.tag-image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    max-width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-header{
  position: relative;
  z-index: 10;
  margin:100px auto 120px;
  padding-left: 68px;
  max-width: 749px;
  text-align: center;

  @media screen and (max-width: $desktop){
      padding-left: 53px;
      max-width: calc(507px + 53px);
      margin: 100px auto 70px;
  }

  @media screen and (max-width: $tablet){
      padding-left: 0;
      margin: 100px auto 70px;
      max-width: 480px;
  }

  @media screen and (max-width: $phablet){
      margin: 170px auto 180px;
      padding: 0 40px;
  }

  @media screen and (max-height: 700px) {
    margin: 100px auto;
  }
}

.tag-hero-heading {
  font-size: 48px;
  font-family: var(--serif);
  margin-bottom: 25px;
  font-weight: bold;
  line-height: 1.32;

  @media screen and (max-width: $tablet){
      margin-bottom: 20px;
      font-size: 36px;
  }

  @media screen and (max-width: $phablet){
      font-size: 32px;
  }
}
